<!DOCTYPE html>
<html lang='pt'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}Luxury Wheels{% endblock %}</title>
    <!--Bootstrap-->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css'
        integrity='sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG' crossorigin='anonymous'>
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap'
        rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap' rel='stylesheet'>
</head>

<body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
        <div class='container'>
            <a href="{{ url_for('home') }}" class='navbar-brand d-flex align-items-center'>
                <img src='..\static\img\logo.png' alt='Luxury Wheels Logo' class='me-4' style='width: 150px;'>
                <span class='brand-title display-4 text-body'>Luxury Wheels</span>
            </a>
            <div class='collapse navbar-collapse justify-content-end' id='navOptions'>
                <ul class='navbar-nav'>
                    <li class='nav-item'>
                        <a href="{{ url_for('reservas') }}" class='nav-link'>Minhas Reservas</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class='nav-item'>
                        <a href="{{ url_for('logout') }}" class='nav-link'>Log Out</a>
                    </li>
                    {% else %}
                    <li class='nav-item'>
                        <a href="{{ url_for('login') }}" class='nav-link'>Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    <div class='container mt-4'>
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flashes'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <footer class='bg-light py-3'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <p class='mb-0'>&copy; LuxuryWheels 2024</p>
                </div>
                <div class='col-md-6'>
                    <p class='mb-0'>
                        <a href='#' class='ml-md-3' data-toggle='modal' data-target='#contactModal'>Contato</a>
                        <a href='#' class='ml-md-3'>Voltar ao topo</a>
                        <a href="{{ url_for('home') }}" class='ml-md-3'>Página inicial</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class='modal fade' id='contactModal' tabindex='-1' role='dialog' aria-labelledby='contactModalLabel'
        aria-hidden='true'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='contactModalLabel'>Informações de Contato</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <p>Email: contato@luxurywheels.com</p>
                    <p>Telefone: <a href='tel:+351123456789'>+351 123456789</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
</body>

</html>