{% extends 'base.html' %}

{% block title %}Registrar - Luxury Wheels{% endblock %}

{% block content %}
<div class='container'>
    <h2>Registro</h2>
    <form method='POST' action="{{ url_for('registro') }}">
        <div class='form-group'>
            <label for='nome'>Nome:</label>
            <input type='text' class='form-control' id='nome' name='nome' required>
        </div>
        <div class='form-group'>
            <label for='email'>Email:</label>
            <input type='email' class='form-control' id='email' name='email' required>
        </div>
        <div class='form-group'>
            <label for='telefone'>Telefone:</label>
            <input type='text' class='form-control' id='telefone' name='telefone'>
        </div>
        <div class='form-group'>
            <label for='senha'>Senha:</label>
            <input type='password' class='form-control' id='senha' name='senha' required>
        </div>
        {% if veiculo is defined %}
        <input type='hidden' name='veiculo' value='{{ veiculo }}'>
        <input type='hidden' name='veiculo_id' value='{{ veiculo.id }}'>
        <input type='hidden' name='valor_total' value='{{ valor_total }}'>
        <input type='hidden' name='levantamento' value='{{ levantamento }}'>
        <input type='hidden' name='devolucao' value='{{ devolucao}}'>
        {% endif %}
        <button type='submit' class='btn btn-primary'>Registrar</button>
    </form>
</div>
{% endblock %}